In [1365]:
# carregar as bibliotecas necessárias

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import requests
from requests.exceptions import RequestException
import re

In [1366]:
# ler cada uma das sheets e criar um dataframe para cada uma delas

df_INPUT = pd.read_excel("Challenge Worten- Junior Data Analyst.xlsx", sheet_name="INPUT")
df_Categories = pd.read_excel("Challenge Worten- Junior Data Analyst.xlsx", sheet_name="Categories")
df_Validação_Uniformização = pd.read_excel("Challenge Worten- Junior Data Analyst.xlsx", sheet_name="Validação_Uniformizão")
df_Errors = pd.read_excel("Challenge Worten- Junior Data Analyst.xlsx", sheet_name="Errors")

# imprime o número de linhas e colunas do dataframe
print(df_INPUT.shape)

# apresentar as primeiras 5 linhas do dataframe "df_INPUT"
df_INPUT.head()

(411, 13)

,cod_ean,mp_category,name,product_type,description,gender,size,brand_name,color,image,material,accept,reason
0,8434417031944,MOD0609,Roupa Homem Roupa interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,NaN,NaN,8000,Azul,https://www.worten.pt//i/64211e4dbbe61eda41b2e...,Polyester,NaN,NaN
1,8434417031937789798,MOD0609,Roupa Homem Roupa interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,NaN,NaN,8000,Azul,https://www.worten.pt//i/64211e4dbbe61eda41b2e...,Polyester,NaN,NaN
2,8434417032002,MOD0609,Roupa Homem Roupa interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,NaN,NaN,8000,Preto,https://www.worten.pt//i/d6eae585fdefdfac272a3...,Polyester,NaN,NaN
3,8434417242807,MOD02,roupa homem roupa interior +8000 alcamo,Roupa Interior,Roupa Homem Meias +8000 C16203 3 Pair. Meias p...,NaN,NaN,8000,NaN,https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...,NaN,NaN,NaN
4,8434417242791,MOD0609,Roupa Homem Roupa interior +8000 Alcamo,Roupa Interior,Roupa Homem Meias +8000 C16203 3 Pair. Meias p...,NaN,NaN,8000,NaN,https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...,NaN,NaN,NaN

In [1367]:
# questão 1

# cria o dataframe "relatório de erros"
colunas = ["cod_ean", "reason_id"]
df_Relatório_Erros = pd.DataFrame(columns=colunas)

def funcao1(df_INPUT, df_Relatório_Erros):
    # Verificar se existem valores NaN na coluna "cod_ean" 
    na_count = df_INPUT["cod_ean"].isna().sum()
    if na_count == 0:
        print("A coluna cod_ean não tem valores em falta")
    else:
        print("A coluna cod_ean tem valores em falta")

    # Retorna o número de elementos únicos na coluna "cod_ean"
    unique_count = df_INPUT["cod_ean"].nunique()
    print("Número de elementos únicos na coluna cod_ean:", unique_count)

    # Retorna o número total de elementos não nulos da coluna
    total_count = df_INPUT["cod_ean"].count()
    print("Número total de elementos não nulos na coluna cod_ean:", total_count)

    # Verifica se a coluna tem apenas valores únicos ou também valores duplicados
    if unique_count == total_count:
        print("A coluna cod_ean não tem valores duplicados (apenas valores únicos)")
    else:
        print("A coluna cod_ean tem valores duplicados")

    # Imprime os valores duplicados de "cod_ean"
    duplicados = df_INPUT.duplicated(subset="cod_ean", keep=False)
    print("Valores duplicados na coluna cod_ean:")
    print(df_INPUT.loc[duplicados, "cod_ean"])

    # Transforma o tipo da coluna de object para string
    df_INPUT["cod_ean"] = df_INPUT["cod_ean"].astype(str)

    # Loop que percorre todos os valores da coluna "cod_ean"
    for index, value in df_INPUT["cod_ean"].items():
        if not value.isdigit() or len(value) > 13:
            # Se o tamanho do valor de "cod_ean" for maior que 13, adiciona uma linha no relatório de erros com a razão
            new_row = pd.DataFrame({"cod_ean": value, "reason_id": [1], "reason_pt": "EAN não válido", "reason_en": "Invalid EAN", "explicação": "EAN não é válido se tiver letras ou se não tiver entre 7-13 caracteres", "": "x"})
            df_Relatório_Erros = pd.concat([df_Relatório_Erros, new_row], ignore_index=True)
        elif len(value) < 13:
            # Se o tamanho do valor de "cod_ean" for menor que 13, adiciona 0's no início
            df_INPUT.at[index, "cod_ean"] = value.zfill(13)

    #df_Relatório_Erros = pd.merge(df_Relatório_Erros, df_Errors, on="reason_id", how="left")   
    
    return df_INPUT, df_Relatório_Erros

df_INPUT, df_Relatório_Erros = funcao1(df_INPUT, df_Relatório_Erros)

print(df_INPUT.shape)
df_Relatório_Erros.head()

A coluna cod_ean não tem valores em falta
Número de elementos únicos na coluna cod_ean: 410
Número total de elementos não nulos na coluna cod_ean: 411
A coluna cod_ean tem valores duplicados
Valores duplicados na coluna cod_ean:
7    8434417242197
8    8434417242197
Name: cod_ean, dtype: object
(411, 13)

,cod_ean,reason_id,reason_pt,reason_en,explicação,
0,8434417031937789798,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
1,JNU4814473036,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
2,IEY3168348072,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
3,UMW3888650340,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
4,ZBT6855713639,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x

In [1368]:
# questão 2

def funcao2(df_INPUT, df_Categories, df_Relatório_Erros):
    df_INPUT = pd.merge(df_INPUT, df_Categories, on="mp_category", how="left")

    # filtrar os produtos que são do tipo "Leaf"
    df_leaf_products = df_INPUT[df_INPUT["category_type"] == "Leaf"]

    for index, row in df_INPUT.iterrows():
        if row["category_type"] != "Leaf":
            # se o produto não é do tipo 'Leaf', adicionar ao relatório de erros
            new_row = pd.DataFrame({"cod_ean": [row["cod_ean"]], "reason_id": [4], "reason_pt": "Categoria errada", "reason_en": "Wrong category", "explicação": "Validar se a categoria é LEAF e a correta categoria", "": "x"})
            df_Relatório_Erros = pd.concat([df_Relatório_Erros, new_row], ignore_index=True)

    return df_INPUT, df_Relatório_Erros, df_leaf_products

df_INPUT, df_Relatório_Erros, df_leaf_products = funcao2(df_INPUT, df_Categories, df_Relatório_Erros)

print(df_INPUT.shape)
# Imprime o dataframe 
print(df_INPUT.head())
# Imprime todos os produtos que são do tipo "Leaf"
print(df_leaf_products.head())
# Mostra o relatório de erros
df_Relatório_Erros.head(1000)

(411, 15)
               cod_ean mp_category                                     name  \
0        8434417031944     MOD0609  Roupa Homem Roupa interior +8000 Alcamo
1  8434417031937789798     MOD0609  Roupa Homem Roupa interior +8000 Alcamo
2        8434417032002     MOD0609  Roupa Homem Roupa interior +8000 Alcamo
3        8434417242807       MOD02  roupa homem roupa interior +8000 alcamo
4        8434417242791     MOD0609  Roupa Homem Roupa interior +8000 Alcamo

     product_type                                        description gender  \
0  Roupa Interior  Roupa Homem Roupa interior +8000 Alcamo. T Shi...    NaN
1  Roupa Interior  Roupa Homem Roupa interior +8000 Alcamo. T Shi...    NaN
2  Roupa Interior  Roupa Homem Roupa interior +8000 Alcamo. T Shi...    NaN
3  Roupa Interior  Roupa Homem Meias +8000 C16203 3 Pair. Meias p...    NaN
4  Roupa Interior  Roupa Homem Meias +8000 C16203 3 Pair. Meias p...    NaN

  size brand_name  color                                              image  \
0  NaN       8000   Azul  https://www.worten.pt//i/64211e4dbbe61eda41b2e...
1  NaN       8000   Azul  https://www.worten.pt//i/64211e4dbbe61eda41b2e...
2  NaN       8000  Preto  https://www.worten.pt//i/d6eae585fdefdfac272a3...
3  NaN       8000    NaN  https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...
4  NaN       8000    NaN  https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...

    material  accept  reason                    category_name category_type
0  Polyester     NaN     NaN                   Roupa Interior          Leaf
1  Polyester     NaN     NaN                   Roupa Interior          Leaf
2  Polyester     NaN     NaN                   Roupa Interior          Leaf
3        NaN     NaN     NaN  Relojoaria - Aço, Metal, Outros  Sub-category
4        NaN     NaN     NaN                   Roupa Interior          Leaf
               cod_ean mp_category                                     name  \
0        8434417031944     MOD0609  Roupa Homem Roupa interior +8000 Alcamo
1  8434417031937789798     MOD0609  Roupa Homem Roupa interior +8000 Alcamo
2        8434417032002     MOD0609  Roupa Homem Roupa interior +8000 Alcamo
4        8434417242791     MOD0609  Roupa Homem Roupa interior +8000 Alcamo
5        8432959918945     MOD0609  Roupa Homem Roupa interior +8000 Alcamo

     product_type                                        description gender  \
0  Roupa Interior  Roupa Homem Roupa interior +8000 Alcamo. T Shi...    NaN
1  Roupa Interior  Roupa Homem Roupa interior +8000 Alcamo. T Shi...    NaN
2  Roupa Interior  Roupa Homem Roupa interior +8000 Alcamo. T Shi...    NaN
4  Roupa Interior  Roupa Homem Meias +8000 C16203 3 Pair. Meias p...    NaN
5  Roupa Interior  Roupa Homem Roupa interior +8000 Teran 16i L/s...    NaN

  size brand_name  color                                              image  \
0  NaN       8000   Azul  https://www.worten.pt//i/64211e4dbbe61eda41b2e...
1  NaN       8000   Azul  https://www.worten.pt//i/64211e4dbbe61eda41b2e...
2  NaN       8000  Preto  https://www.worten.pt//i/d6eae585fdefdfac272a3...
4  NaN       8000    NaN  https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...
5  NaN       8000  Preto  https://www.worten.pt//i/e72dbc08ca8f0e2b15062...

    material  accept  reason   category_name category_type
0  Polyester     NaN     NaN  Roupa Interior          Leaf
1  Polyester     NaN     NaN  Roupa Interior          Leaf
2  Polyester     NaN     NaN  Roupa Interior          Leaf
4        NaN     NaN     NaN  Roupa Interior          Leaf
5        NaN     NaN     NaN  Roupa Interior          Leaf

,cod_ean,reason_id,reason_pt,reason_en,explicação,
0,8434417031937789798,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
1,JNU4814473036,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
2,IEY3168348072,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
3,UMW3888650340,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
4,ZBT6855713639,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
5,JCA2048159164,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
6,SBA3869415151,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
7,VAH9930316052,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
8,XKQ9077866361,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
9,QEA9305026313,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
10,8434417242807,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
11,JNU4814473036,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
12,IEY3168348072,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
13,JCA2048159164,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
14,0000010424919,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
15,5714924716095,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
16,8719403684992,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
17,8719403673521,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
18,8719403670988,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
19,5714503311871,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
20,5714503311307,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
21,5714503311314,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
22,8054730380408,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
23,8058279913394,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
24,8054730916300,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
25,8054730826074,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
26,8054730826050,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
27,8054730825985,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
28,8054730825992,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
29,8434417031937,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x

In [1369]:
# questão 3

def funcao3(df, column):
    # o método .title() coloca cada palavra da coluna "name" a começar por maiúscula
    df[column] = df[column].str.title()

funcao3(df_INPUT, "name")

print(df_INPUT.shape)
df_INPUT.head()

(411, 15)

,cod_ean,mp_category,name,product_type,description,gender,size,brand_name,color,image,material,accept,reason,category_name,category_type
0,8434417031944,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,NaN,NaN,8000,Azul,https://www.worten.pt//i/64211e4dbbe61eda41b2e...,Polyester,NaN,NaN,Roupa Interior,Leaf
1,8434417031937789798,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,NaN,NaN,8000,Azul,https://www.worten.pt//i/64211e4dbbe61eda41b2e...,Polyester,NaN,NaN,Roupa Interior,Leaf
2,8434417032002,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,NaN,NaN,8000,Preto,https://www.worten.pt//i/d6eae585fdefdfac272a3...,Polyester,NaN,NaN,Roupa Interior,Leaf
3,8434417242807,MOD02,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Meias +8000 C16203 3 Pair. Meias p...,NaN,NaN,8000,NaN,https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...,NaN,NaN,NaN,"Relojoaria - Aço, Metal, Outros",Sub-category
4,8434417242791,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Meias +8000 C16203 3 Pair. Meias p...,NaN,NaN,8000,NaN,https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...,NaN,NaN,NaN,Roupa Interior,Leaf

In [1370]:
# questão 4

# Imprime a lista de valores únicos presentes na coluna "size" do dataframe input
lista_numeros = df_INPUT["size"].unique().tolist()
print(lista_numeros)

def funcao4(df, size_column):
    def uniformizar_tamanho(tamanho):
        if tamanho in ["S", "XS", "20", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34", "34C", "35", "36", "36B", "37", "38", "39"]:
            return "Small"
        elif tamanho in ["40", "40B", "40C", "40D", "40 2/3", "41", "41 1/3"]:
            return "Medium"
        elif tamanho in ["42", "42C", "42D", "42 2/3", "43"]:
            return "Large"
        elif tamanho in ['44', "45"]:
            return "Extra Large"
        elif tamanho in ["46"]:
            return "Extra Extra Large"
        else:
            return "Not Specified"

    df["size_uniform"] = df[size_column].apply(uniformizar_tamanho)
    return df

df_INPUT["size"].fillna("", inplace=True)
df_INPUT["size"] = df_INPUT["size"].astype(str)

df_INPUT = funcao4(df_INPUT, "size")
print(df_INPUT.shape)
df_INPUT.head(100)

[nan, 39, 37, 138, 40, 41, 36, '36B', '40B', '40C', '40D', '42C', '34C', '42D', 'S', 'XS', 38, 42, 34, 43, 45, 46, '42 2/3', '40 2/3', '41 1/3', 44, 35, 29, 25, 26, 30, 28, 27, 31, 33, 23, 32, 20, 22, 24]
(411, 16)

,cod_ean,mp_category,name,product_type,description,gender,size,brand_name,color,image,material,accept,reason,category_name,category_type,size_uniform
0,8434417031944,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,NaN,,8000,Azul,https://www.worten.pt//i/64211e4dbbe61eda41b2e...,Polyester,NaN,NaN,Roupa Interior,Leaf,Not Specified
1,8434417031937789798,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,NaN,,8000,Azul,https://www.worten.pt//i/64211e4dbbe61eda41b2e...,Polyester,NaN,NaN,Roupa Interior,Leaf,Not Specified
2,8434417032002,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,NaN,,8000,Preto,https://www.worten.pt//i/d6eae585fdefdfac272a3...,Polyester,NaN,NaN,Roupa Interior,Leaf,Not Specified
3,8434417242807,MOD02,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Meias +8000 C16203 3 Pair. Meias p...,NaN,,8000,NaN,https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...,NaN,NaN,NaN,"Relojoaria - Aço, Metal, Outros",Sub-category,Not Specified
4,8434417242791,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Meias +8000 C16203 3 Pair. Meias p...,NaN,,8000,NaN,https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...,NaN,NaN,NaN,Roupa Interior,Leaf,Not Specified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4894626034879,MOD0201,Ferrè Milano Fm1G131L0031,Relógios,Eletrônica Relógios FerrÈ Milano Fm1g131l0031....,Mulher,,FerrÃ Milano,Azul,https:/www.worten.pt/i/a8ec3ea7ccb0c6fd4836f4c...,NaN,NaN,NaN,Relógios,Leaf,Not Specified
96,4894626034886,MOD0201,Ferrè Milano Fm1G131L0041,Relógios,Eletrônica Relógios FerrÈ Milano Fm1g131l0041....,Mulher,,FerrÃ Milano,Preto,https:/www.worten.pt/i/4d935049ba292bde5485275...,NaN,NaN,NaN,Relógios,Leaf,Not Specified
97,4894626034893,MOD0201,Ferrè Milano Fm1G131L0091,Relógios,Eletrônica Relógios FerrÈ Milano Fm1g131l0091....,Mulher,,FerrÃ Milano,Castanho,https:/www.worten.pt/i/e5a5800916544e873972f3b...,NaN,NaN,NaN,Relógios,Leaf,Not Specified
98,4894626034909,MOD0201,Ferrè Milano Fm1G131M0051,Relógios,Eletrônica Relógios FerrÈ Milano Fm1g131m0051....,NaN,,FerrÃ Milano,Cinzento,https:/www.worten.pt/i/6b44cd3e5cf98d77dc9a103...,NaN,NaN,NaN,Relógios,Leaf,Not Specified
99,4894626034916,MOD0201,Ferrè Milano Fm1G131M0061,Relógios,Eletrônica Relógios FerrÈ Milano Fm1g131m0061....,Mulher,,FerrÃ Milano,Cinzento,https:/www.worten.pt/i/4965c375c83e026aca5541c...,NaN,NaN,NaN,Relógios,Leaf,Not Specified

In [1371]:
# questão 5

def funcao5(df_INPUT, df_Validação_Uniformização):
    # verifica se existem valores nan na coluna "product_type" 
    print("Número de valores faltando na coluna 'product_type':", df_INPUT["product_type"].isna().sum())

    # transforma o tipo da coluna de object para string
    df_INPUT["product_type"] = df_INPUT["product_type"].astype(str)

    # obtém os valores únicos das colunas "product_type" dos dois dataframes
    valores_unicos_product_type_input = df_INPUT["product_type"].unique().tolist()
    valores_unicos_product_type_Validação_Uniformização = df_Validação_Uniformização["product_type"].unique().tolist()

    print("Valores únicos em df_INPUT:", valores_unicos_product_type_input)
    print("Valores únicos em df_Validação_Uniformização:", valores_unicos_product_type_Validação_Uniformização)

    # procura os valores únicos de df_INPUT que não estão em df_Validação_Uniformização
    valores_nao_presentes = set(valores_unicos_product_type_input) - set(valores_unicos_product_type_Validação_Uniformização)

    # conventer novamente para lista
    valores_nao_presentes_lista = list(valores_nao_presentes)

    print("Valores únicos em df_INPUT que não estão em df_Validação_Uniformização:", valores_nao_presentes_lista)

    # corrige os valores incorretos na coluna "product_type" em df_INPUT
    df_INPUT["product_type"] = df_INPUT["product_type"].replace({"Sneaers": "Sneakers", "Suéteres Esportivo": "Sweatshirts", "nan": ""})

    return df_INPUT

df_INPUT = funcao5(df_INPUT, df_Validação_Uniformização)

print(df_INPUT.shape)
df_INPUT.head(1000)

Número de valores faltando na coluna 'product_type': 33
Valores únicos em df_INPUT: ['Roupa Interior', 'Sandálias', 'Sapatilhas', 'nan', 'Carteiras e Porta-Moedas', 'Sweatshirts', 'Suéteres Esportivo', 'Hoodie', 'Praia', 'Relógios', 'Bijuteria', 'Camisola', 'Casaco', 'Aneis', 'Colares', 'Pulseiras', 'Sapatos', 'Blusas', 'Sneakers', 'Sneaers']
Valores únicos em df_Validação_Uniformização: ['Roupa Interior', 'Sandálias', 'Sapatilhas', 'Carteiras e Porta-Moedas', 'Sweatshirts', 'Hoodie', 'Praia', 'Relógios', 'Bijuteria', 'Camisola', 'Casaco', 'Aneis', 'Colares', 'Pulseiras', 'Sapatos', 'Blusas', 'Sneakers', nan]
Valores únicos em df_INPUT que não estão em df_Validação_Uniformização: ['nan', 'Sneaers', 'Suéteres Esportivo']
(411, 16)

,cod_ean,mp_category,name,product_type,description,gender,size,brand_name,color,image,material,accept,reason,category_name,category_type,size_uniform
0,8434417031944,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,NaN,,8000,Azul,https://www.worten.pt//i/64211e4dbbe61eda41b2e...,Polyester,NaN,NaN,Roupa Interior,Leaf,Not Specified
1,8434417031937789798,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,NaN,,8000,Azul,https://www.worten.pt//i/64211e4dbbe61eda41b2e...,Polyester,NaN,NaN,Roupa Interior,Leaf,Not Specified
2,8434417032002,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,NaN,,8000,Preto,https://www.worten.pt//i/d6eae585fdefdfac272a3...,Polyester,NaN,NaN,Roupa Interior,Leaf,Not Specified
3,8434417242807,MOD02,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Meias +8000 C16203 3 Pair. Meias p...,NaN,,8000,NaN,https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...,NaN,NaN,NaN,"Relojoaria - Aço, Metal, Outros",Sub-category,Not Specified
4,8434417242791,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Meias +8000 C16203 3 Pair. Meias p...,NaN,,8000,NaN,https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...,NaN,NaN,NaN,Roupa Interior,Leaf,Not Specified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406,8054730826074,MOD07,Geox Alben Boy,Sneakers,Calçado meninos Sneakers Geox Alben Boy. Exist...,Homem,,Geox,Azul,NaN,NaN,NaN,NaN,Calçado,Sub-category,Not Specified
407,8054730826050,MOD07,Geox Alben Boy,Sneakers,Calçado meninos Sneakers Geox Alben Boy. Exist...,Homem,,Geox,Azul,NaN,NaN,NaN,NaN,Calçado,Sub-category,Not Specified
408,8054730825985,MOD07,Geox Alben Boy,Sneakers,Calçado meninos Sneakers Geox Alben Boy. Exist...,Homem,,Geox,Azul,NaN,NaN,NaN,NaN,Calçado,Sub-category,Not Specified
409,8054730825992,MOD07,Geox Alben Boy,Sneakers,Calçado meninos Sneakers Geox Alben Boy. Exist...,Homem,,Geox,Azul,NaN,NaN,NaN,NaN,Calçado,Sub-category,Not Specified
410,8434417031937,MOD07,Geox Alben Boy,Sneakers,Calçado meninos Sneakers Geox Alben Boy. Exist...,Homem,,Geox,Azul,NaN,NaN,NaN,NaN,Calçado,Sub-category,Not Specified

In [1372]:
# questão 6

def funcao6(df_INPUT, df_Relatório_Erros):
    df_INPUT["description"] = df_INPUT["description"].astype(str)
    df_INPUT["description"] = df_INPUT["description"].apply(lambda text: re.sub("<.*?>", "", text))

    for index, row in df_INPUT.iterrows():
        if "sortido" in row["description"].lower() or "sortido" in row["name"].lower():
            new_row = pd.DataFrame({"cod_ean": [row["cod_ean"]], "reason_id": [2], "reason_pt": "Não elegível – Sortido", "reason_en": "Ineligible - Assortment", "explicação": "Se na dedscrição ou nome existir a palavra: 'Sortido'", "": "x"})
            df_Relatório_Erros = pd.concat([df_Relatório_Erros, new_row], ignore_index=True)
    
    return df_INPUT, df_Relatório_Erros

df_INPUT, df_Relatório_Erros = funcao6(df_INPUT, df_Relatório_Erros)

print(df_INPUT.shape)
df_Relatório_Erros.head(1000)

(411, 16)

,cod_ean,reason_id,reason_pt,reason_en,explicação,
0,8434417031937789798,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
1,JNU4814473036,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
2,IEY3168348072,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
3,UMW3888650340,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
4,ZBT6855713639,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
5,JCA2048159164,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
6,SBA3869415151,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
7,VAH9930316052,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
8,XKQ9077866361,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
9,QEA9305026313,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
10,8434417242807,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
11,JNU4814473036,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
12,IEY3168348072,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
13,JCA2048159164,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
14,0000010424919,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
15,5714924716095,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
16,8719403684992,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
17,8719403673521,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
18,8719403670988,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
19,5714503311871,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
20,5714503311307,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
21,5714503311314,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
22,8054730380408,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
23,8058279913394,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
24,8054730916300,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
25,8054730826074,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
26,8054730826050,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
27,8054730825985,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
28,8054730825992,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
29,8434417031937,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
30,8719403685050,2,Não elegível – Sortido,Ineligible - Assortment,Se na dedscrição ou nome existir a palavra: 'S...,x
31,4894626017520,2,Não elegível – Sortido,Ineligible - Assortment,Se na dedscrição ou nome existir a palavra: 'S...,x

In [1373]:
# questão 7

def funcao7(df_INPUT, df_Relatório_Erros):
    # verifica se existem valores nan na coluna "cod_ean"
    print("Número de valores faltando na coluna 'cod_ean':", df_INPUT["cod_ean"].isna().sum())

    # transforma o tipo da coluna de object para string
    df_INPUT["image"] = df_INPUT["image"].astype(str)

    # adiciona uma coluna que é preenchida com "True" se o valor de "image" começar com "https://", caso contrário imprime "False"
    df_INPUT["is_https"] = df_INPUT["image"].apply(lambda x: x.startswith("https://") if x else False)

    def is_valid_link(url):
        try:
            response = requests.head(url, allow_redirects=True, timeout=5)
            return response.status_code in range(200, 300)
        except RequestException:
            return False

    # aplica a função para verificar cada link no dataframe
    df_INPUT["is_valid"] = df_INPUT["image"].apply(is_valid_link)

    # percorre todas as linhas do dataframe
    for index, row in df_INPUT.iterrows():
        if row["is_valid"] == False:
            # se o link não for válido, adiciona ao relatório de erros
            new_row = pd.DataFrame({"cod_ean": [row["cod_ean"]], "reason_id": [3], "reason_pt": "Link de imagem não funciona ou não é valido", "reason_en": "Image link does not work or is not valid", "explicação": "Image URL get 404 error ou não devolve qualquer resultado", "": "x"})
            df_Relatório_Erros = pd.concat([df_Relatório_Erros, new_row], ignore_index=True)
    
    return df_INPUT, df_Relatório_Erros

df_INPUT, df_Relatório_Erros = funcao7(df_INPUT, df_Relatório_Erros)

print(df_INPUT.shape)
df_Relatório_Erros.head(1000)

Número de valores faltando na coluna 'cod_ean': 0
(411, 18)

,cod_ean,reason_id,reason_pt,reason_en,explicação,
0,8434417031937789798,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
1,JNU4814473036,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
2,IEY3168348072,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
3,UMW3888650340,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
4,ZBT6855713639,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
...,...,...,...,...,...,...
411,8054730826074,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
412,8054730826050,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
413,8054730825985,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
414,8054730825992,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
415,8434417031937,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x

In [1374]:
# questão 8

df_INPUT["material"] = df_INPUT["material"].astype(str)
df_INPUT["material"] = df_INPUT["material"].replace({"nan": ""})
valores_unicos_material = df_INPUT["material"].unique().tolist()
valores_unicos_material = [valor for valor in valores_unicos_material if valor != ""]
print(valores_unicos_material)

def find_material_in_description(description):
    for material in valores_unicos_material:
        if material in description:
            return material
    return ""  

df_INPUT["material"] = df_INPUT["description"].apply(find_material_in_description)

df_INPUT.head()

['Polyester', '85% algodão, 15% poliéster', 'COURO / SINTÉTICA', 'camurça']

,cod_ean,mp_category,name,product_type,description,gender,size,brand_name,color,image,material,accept,reason,category_name,category_type,size_uniform,is_https,is_valid
0,8434417031944,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,NaN,,8000,Azul,https://www.worten.pt//i/64211e4dbbe61eda41b2e...,Polyester,NaN,NaN,Roupa Interior,Leaf,Not Specified,True,True
1,8434417031937789798,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,NaN,,8000,Azul,https://www.worten.pt//i/64211e4dbbe61eda41b2e...,Polyester,NaN,NaN,Roupa Interior,Leaf,Not Specified,True,True
2,8434417032002,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,NaN,,8000,Preto,https://www.worten.pt//i/d6eae585fdefdfac272a3...,Polyester,NaN,NaN,Roupa Interior,Leaf,Not Specified,True,True
3,8434417242807,MOD02,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Meias +8000 C16203 3 Pair. Meias p...,NaN,,8000,NaN,https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...,,NaN,NaN,"Relojoaria - Aço, Metal, Outros",Sub-category,Not Specified,True,True
4,8434417242791,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Meias +8000 C16203 3 Pair. Meias p...,NaN,,8000,NaN,https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...,,NaN,NaN,Roupa Interior,Leaf,Not Specified,True,True

In [1375]:
# questão 9

def funcao9(df_INPUT, df_Validação_Uniformização):
    # Converte os tipos das colunas para string
    df_Validação_Uniformização["gender"] = df_Validação_Uniformização["gender"].astype(str)
    df_Validação_Uniformização["color"] = df_Validação_Uniformização["color"].astype(str)
    df_Validação_Uniformização["brand_name"] = df_Validação_Uniformização["brand_name"].astype(str)

    # Obtém valores únicos
    valores_unicos_gender = df_Validação_Uniformização["gender"].unique().tolist()
    valores_unicos_color = df_Validação_Uniformização["color"].unique().tolist()
    valores_unicos_brand_name = df_Validação_Uniformização["brand_name"].unique().tolist()
    print(valores_unicos_gender)
    print(valores_unicos_color)
    print(valores_unicos_brand_name)

    valores_unicos_gender_1 = df_INPUT["gender"].unique().tolist()
    valores_unicos_color_1 = df_INPUT["color"].unique().tolist()
    valores_unicos_brand_name_1 = df_INPUT["brand_name"].unique().tolist()
    print(valores_unicos_gender_1)
    print(valores_unicos_color_1)
    print(valores_unicos_brand_name_1)

    # Identifica valores não presentes
    valores_nao_presentes_gender = set(valores_unicos_gender_1) - set(valores_unicos_gender)
    valores_nao_presentes_color = set(valores_unicos_color_1) - set(valores_unicos_color)
    valores_nao_presentes_brand_name = set(valores_unicos_brand_name_1) - set(valores_unicos_brand_name)

    print("Valores únicos em df_INPUT que não estão em df_Validação_Uniformização:", list(valores_nao_presentes_gender))
    print("Valores únicos em df_INPUT que não estão em df_Validação_Uniformização:", list(valores_nao_presentes_color))
    print("Valores únicos em df_INPUT que não estão em df_Validação_Uniformização:", list(valores_nao_presentes_brand_name))

    # Atualiza a coluna "gender" com base na descrição
    df_INPUT["gender"] = df_INPUT.apply(lambda row: "Homem" if "homem" in row["description"].lower() and pd.isna(row["gender"]) else row["gender"], axis=1)
    df_INPUT["gender"] = df_INPUT.apply(lambda row: "Mulher" if "mulher" in row["description"].lower() and pd.isna(row["gender"]) else row["gender"], axis=1)
    df_INPUT["gender"] = df_INPUT.apply(lambda row: "Menina" if "menina" in row["description"].lower() and pd.isna(row["gender"]) else row["gender"], axis=1)
    df_INPUT["gender"] = df_INPUT.apply(lambda row: "Menino" if "menino" in row["description"].lower() and pd.isna(row["gender"]) else row["gender"], axis=1)
    df_INPUT["gender"] = df_INPUT.apply(lambda row: "Bébé" if "bébé" in row["description"].lower() and pd.isna(row["gender"]) else row["gender"], axis=1)
    df_INPUT["gender"] = df_INPUT.apply(lambda row: "Unissexo" if "unissexo" in row["description"].lower() and pd.isna(row["gender"]) else row["gender"], axis=1)
    df_INPUT["gender"] = df_INPUT.apply(lambda row: "Criança" if "criança" in row["description"].lower() and pd.isna(row["gender"]) else row["gender"], axis=1)

    # Substitui valores na coluna "color" e "brand_name"
    df_INPUT["color"] = df_INPUT["color"].replace({"Natural": "Castanho", "Colorido": "Multicor", "Stone": "Bege"})
    df_INPUT["brand_name"] = df_INPUT["brand_name"].replace({"Ferrè Milano": "FERRÈ MILANO", "FerrÃ\x88 Milano": "FERRÈ MILANO", "o´neill": "O´NEILL", "OÂ´NEILL": "O´NEILL", "Geox": "GEOX", "Exceed Shoe Thinkers": "EXCEED SHOE THINKERS"})

    return df_INPUT

df_INPUT = funcao9(df_INPUT, df_Validação_Uniformização)

print(df_INPUT.shape)
df_INPUT.head()

['Mulher', 'Homem', 'Menina', 'Menino', 'Bébé', 'Unissexo', 'nan', 'Criança']
['Azul', 'Preto', 'Castanho', 'Cinzento', 'Vermelho', 'Dourado', 'Verde', 'Amarelo', 'Rosa', 'Laranja', 'Bege', 'Branco', 'Roxo', 'Multicor', 'nan']
['8000', 'NOBRINDE', 'GUESS', 'JACK & JONES', 'O´NEILL', 'FERRÈ MILANO', 'VERO MODA', 'ONLY', 'ADORE', 'BUCKLEY LONDON', 'EXCEED SHOE THINKERS', 'NIZA', 'ADIDAS', 'GSTAR', 'SERGIO TACCHINI', 'GEOX', 'nan']
[nan, 'Mulher', 'Menina', 'Homem', 'Criança']
['Azul', 'Preto', nan, 'Castanho', 'Cinzento', 'Natural', 'Vermelho', 'Dourado', 'Verde', 'Amarelo', 'Rosa', 'Laranja', 'Colorido', 'Bege', 'Stone', 'Branco', 'Roxo', 'Multicor']
[8000, 'NOBRINDE', 'GUESS', 'JACK & JONES', 'o´neill', 'OÂ´NEILL', 'FerrÃ\x88 Milano', 'Ferrè Milano', 'VERO MODA', 'ONLY', 'ADORE', 'BUCKLEY LONDON', 'Exceed Shoe Thinkers', 'NIZA', 'ADIDAS', 'GSTAR', 'SERGIO TACCHINI', 'Geox']
Valores únicos em df_INPUT que não estão em df_Validação_Uniformização: [nan]
Valores únicos em df_INPUT que não estão em df_Validação_Uniformização: ['Natural', nan, 'Colorido', 'Stone']
Valores únicos em df_INPUT que não estão em df_Validação_Uniformização: [8000, 'FerrÃ\x88 Milano', 'Exceed Shoe Thinkers', 'OÂ´NEILL', 'Ferrè Milano', 'Geox', 'o´neill']
(411, 18)

,cod_ean,mp_category,name,product_type,description,gender,size,brand_name,color,image,material,accept,reason,category_name,category_type,size_uniform,is_https,is_valid
0,8434417031944,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,Homem,,8000,Azul,https://www.worten.pt//i/64211e4dbbe61eda41b2e...,Polyester,NaN,NaN,Roupa Interior,Leaf,Not Specified,True,True
1,8434417031937789798,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,Homem,,8000,Azul,https://www.worten.pt//i/64211e4dbbe61eda41b2e...,Polyester,NaN,NaN,Roupa Interior,Leaf,Not Specified,True,True
2,8434417032002,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,Homem,,8000,Preto,https://www.worten.pt//i/d6eae585fdefdfac272a3...,Polyester,NaN,NaN,Roupa Interior,Leaf,Not Specified,True,True
3,8434417242807,MOD02,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Meias +8000 C16203 3 Pair. Meias p...,Homem,,8000,NaN,https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...,,NaN,NaN,"Relojoaria - Aço, Metal, Outros",Sub-category,Not Specified,True,True
4,8434417242791,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Meias +8000 C16203 3 Pair. Meias p...,Homem,,8000,NaN,https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...,,NaN,NaN,Roupa Interior,Leaf,Not Specified,True,True

In [1376]:
# questão 10

def funcao10(df_INPUT, df_Relatório_Erros):
    df_INPUT["accept"] = ~df_INPUT["cod_ean"].isin(df_Relatório_Erros["cod_ean"])
    return df_INPUT

df_INPUT = funcao10(df_INPUT, df_Relatório_Erros)

print(df_INPUT.shape)
df_INPUT.head()

(411, 18)

,cod_ean,mp_category,name,product_type,description,gender,size,brand_name,color,image,material,accept,reason,category_name,category_type,size_uniform,is_https,is_valid
0,8434417031944,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,Homem,,8000,Azul,https://www.worten.pt//i/64211e4dbbe61eda41b2e...,Polyester,True,NaN,Roupa Interior,Leaf,Not Specified,True,True
1,8434417031937789798,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,Homem,,8000,Azul,https://www.worten.pt//i/64211e4dbbe61eda41b2e...,Polyester,False,NaN,Roupa Interior,Leaf,Not Specified,True,True
2,8434417032002,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Roupa interior +8000 Alcamo. T Shi...,Homem,,8000,Preto,https://www.worten.pt//i/d6eae585fdefdfac272a3...,Polyester,True,NaN,Roupa Interior,Leaf,Not Specified,True,True
3,8434417242807,MOD02,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Meias +8000 C16203 3 Pair. Meias p...,Homem,,8000,NaN,https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...,,False,NaN,"Relojoaria - Aço, Metal, Outros",Sub-category,Not Specified,True,True
4,8434417242791,MOD0609,Roupa Homem Roupa Interior +8000 Alcamo,Roupa Interior,Roupa Homem Meias +8000 C16203 3 Pair. Meias p...,Homem,,8000,NaN,https://www.worten.pt//i/f8fa5681d3d3cc8e28e80...,,True,NaN,Roupa Interior,Leaf,Not Specified,True,True

In [1377]:
# Este código permite-nos verificar que existem "cod_ean" com mais do que um erro

duplicados = df_Relatório_Erros["cod_ean"].duplicated(keep=False)

df_duplicados = df_Relatório_Erros[duplicados]

df_duplicados_sorted = df_duplicados.sort_values(by="cod_ean")

df_duplicados_sorted.head(500)

,cod_ean,reason_id,reason_pt,reason_en,explicação,
78,4894626017520,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
31,4894626017520,2,Não elegível – Sortido,Ineligible - Assortment,Se na dedscrição ou nome existir a palavra: 'S...,x
119,5714503311307,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
20,5714503311307,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
121,5714503311314,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
21,5714503311314,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
19,5714503311871,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
111,5714503311871,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
15,5714924716095,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
42,5714924716095,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
22,8054730380408,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
341,8054730380408,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
27,8054730825985,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
413,8054730825985,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
414,8054730825992,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
28,8054730825992,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
26,8054730826050,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
412,8054730826050,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
25,8054730826074,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
411,8054730826074,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
24,8054730916300,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
347,8054730916300,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
23,8058279913394,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
342,8058279913394,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
415,8434417031937,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
29,8434417031937,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
66,8719403670988,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
18,8719403670988,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
62,8719403673521,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
17,8719403673521,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
52,8719403684992,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
16,8719403684992,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
53,8719403685050,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
30,8719403685050,2,Não elegível – Sortido,Ineligible - Assortment,Se na dedscrição ou nome existir a palavra: 'S...,x
2,IEY3168348072,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
12,IEY3168348072,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
13,JCA2048159164,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
5,JCA2048159164,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
1,JNU4814473036,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
11,JNU4814473036,4,Categoria errada,Wrong category,Validar se a categoria é LEAF e a correta cate...,x
329,QEA9305026313,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
9,QEA9305026313,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
8,XKQ9077866361,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
328,XKQ9077866361,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x

In [1378]:
df_Relatório_Erros_agregado = df_duplicados.groupby("cod_ean")["reason_id"].apply(lambda x: " ".join(x.astype(str))).reset_index()
df_Relatório_Erros_agregado.sort_values(by="cod_ean").head(1000)

          cod_ean reason_id
0   4894626017520       2 3
1   5714503311307       4 3
2   5714503311314       4 3
3   5714503311871       4 3
4   5714924716095       4 3
5   8054730380408       4 3
6   8054730825985       4 3
7   8054730825992       4 3
8   8054730826050       4 3
9   8054730826074       4 3
10  8054730916300       4 3
11  8058279913394       4 3
12  8434417031937       4 3
13  8719403670988       4 3
14  8719403673521       4 3
15  8719403684992       4 3
16  8719403685050       2 3
17  IEY3168348072       1 4
18  JCA2048159164       1 4
19  JNU4814473036       1 4
20  QEA9305026313       1 3
21  XKQ9077866361       1 3

In [1379]:
# questão 11

def funcao11(df_INPUT, df_Relatório_Erros):
    # Conversão de tipo e merge 
    df_Relatório_Erros["reason_id"] = df_Relatório_Erros["reason_id"].astype(str)
    df_INPUT = pd.merge(df_INPUT, df_Relatório_Erros[["cod_ean","reason_id"]], on="cod_ean", how="left")
    df_INPUT["reason"] = df_INPUT.apply(lambda row: row["reason_id"] if row["accept"] == False else None, axis=1)
    df_INPUT.drop(["reason_id"], axis=1, inplace=True)
     
    def combine_reasons(series):
        reasons = series.dropna().unique()
        return ", ".join(reasons) if reasons.size > 0 else None

    df_INPUT["reason"] = df_INPUT.groupby("cod_ean")["reason"].transform(combine_reasons)

    df_INPUT["reason"] = df_INPUT["reason"].fillna("")
    
    df_INPUT = df_INPUT.drop_duplicates("cod_ean")

    return df_INPUT, df_Relatório_Erros

df_INPUT, df_Relatório_Erros = funcao11(df_INPUT, df_Relatório_Erros)

# exporta os dataframes em formato ficheiro excel
df_INPUT.to_excel("df_INPUT.xlsx", index=False)
df_Relatório_Erros.to_excel("df_Relatório_Erros.xlsx", index=False)

print(df_INPUT.shape)
df_INPUT.sort_values(by="cod_ean").head()

(410, 18)

,cod_ean,mp_category,name,product_type,description,gender,size,brand_name,color,image,material,accept,reason,category_name,category_type,size_uniform,is_https,is_valid
227,0000000000002,MOD0701,G-Star Rackam Reduc,Sapatilhas,Calçado Homem Sneakers G-star Rackam Reduc. Os...,Homem,,GSTAR,Azul,https:/www.worten.pt/i/3f7baf3a7740129e7c4d28d...,camurça,False,3,Sapatilhas,Leaf,Not Specified,False,False
217,0000000002432,MOD0701,G-Star Rackam Core Low,,Calçado Homem Sneakers G-star Rackam Core Low....,Homem,40,GSTAR,Cinzento,https:/www.worten.pt/i/b14307237126fff2bf2f704...,,False,3,Sapatilhas,Leaf,Medium,False,False
244,0000000076868,MOD0701,G-Star Rackam Vodan Low Ii,Sneakers,Calçado Homem Sneakers G-star Rackam Vodan Low...,Homem,44,GSTAR,Cinzento,https:/www.worten.pt/i/404964b574cdbeec9cac04e...,,False,3,Sapatilhas,Leaf,Extra Large,False,False
26,0000010424919,MOD02,Mochila Guess Hgkee1-Black Preto,Roupa Interior,"Acessório para Menina U, Preto.",Menina,,GUESS,Preto,https://www.worten.pt//i/a50bb12631658f950a273...,,False,4,"Relojoaria - Aço, Metal, Outros",Sub-category,Not Specified,True,True
28,0000011434109,MOD0609,Mochila Guess Hgmis2-Gold Dourado,Roupa Interior,"Mochila para Menina U, Dourado.",Menina,,GUESS,Dourado,https://www.worten.pt//i/a8b15fbfa04744952a4b3...,,True,,Roupa Interior,Leaf,Not Specified,True,True

In [1380]:
print(df_Relatório_Erros["reason_id"].value_counts(normalize=True))
print(df_INPUT["reason"].value_counts(normalize=True))
df_Relatório_Erros.head(100)

reason_id
3    0.923077
4    0.048077
1    0.024038
2    0.004808
Name: proportion, dtype: float64
reason
3       0.890244
        0.039024
4, 3    0.036585
1       0.012195
1, 4    0.007317
4       0.004878
2, 3    0.004878
1, 3    0.004878
Name: proportion, dtype: float64

,cod_ean,reason_id,reason_pt,reason_en,explicação,
0,8434417031937789798,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
1,JNU4814473036,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
2,IEY3168348072,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
3,UMW3888650340,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
4,ZBT6855713639,1,EAN não válido,Invalid EAN,EAN não é válido se tiver letras ou se não tiv...,x
...,...,...,...,...,...,...
95,4894626034800,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
96,4894626034817,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
97,4894626034824,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
98,4894626034855,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x
99,4894626034862,3,Link de imagem não funciona ou não é valido,Image link does not work or is not valid,Image URL get 404 error ou não devolve qualque...,x